<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/CSS/reg_and_auth.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <title>Страница авторизации</title>
</head>
<body>
    <div id="parrent">
        <h1 class="txt1">Вход в учетную запись</h1>
        <form action="/authentication" method="post">
        <div class="block">
            <input class="input" type="text" placeholder="Ведите логин:" id="login">
        </div>
        <div class="block">
            <input class="input" type="text" placeholder="Введите пароль:" id="password">
        </div>
        <div class="block">
            <button class="input" type="button" id="auth">Войти</button>
        </div>
        </form>
        <div class="block">
            <a href="/registation" style="text-decoration: none; color: white;">У вас нет аккаунта?</a>
        </div>
    </div>
    <script src="../static/js/Request.js"></script>
    <script src="../static/js/auth.js"></script>
</body>
</html>