*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;    
    width: 100%;
    height: 100%;
}

body{
    background-image: url(../img/img2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    position:fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#parrent{
    width: 1000px;
    height: 100%;
    border: 2px solid white;
    align-self: center;
    background-color:black;
    opacity: 0.5;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}

#block1{
    width: 100%;
    height: 30%;
    align-self: center;
    background-color: blue;
}

#block2{
    width: 100%;
    height: 35%;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: green;
}

#block3{
    width: 100%;
    height: 30%;
    align-self: center;
    background-color: yellow;
}

#block_right{
    width: 50%; 
    height: 100%; 
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aqua;
}

#block_left{
    width: 50%; 
    height: 100%; 
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: blueviolet;
}

.block_in_block1{
    width: 100%;
    height: 32px;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.block_img{
    width: 30%;
    height: 100%;
    align-self: center;
}

.block_info{
    width: 70%;
    height: 100%;
    align-self: center;
}

.icon_info1{
    background-image: url(../icon/free-icon-plate-7332886.png);
    width: 64px;
    height: 64px;
}

.icon_info2{
    background-image: url(../icon/free-icon-clock-2972528.png);
    width: 64px;
    height: 64px;
}

.icon_info3{
    background-image: url(../icon/free-icon-tenge-6141501.png);
    width: 64px;
    height: 64px;
}

.icon_info4{
    background-image: url(../icon/free-icon-router-428236.png);
    width: 64px;
    height: 64px;
}

.icon_info5{
    background-image: url(../icon/free-icon-guitar-444289.png);
    width: 64px;
    height: 64px;
}

.icon_info6{
    background-image: url(../icon/free-icon-girl-4614019.png);
    width: 64px;
    height: 64px;
}