<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CSS/style.css">
    <title>Главная страница</title>
</head>
<body>
    <header>
        <div id="TodayIcon1"></div>
        <div id="block1">
            <div id="blockinfo">
                <ul class="menu-bar">
                    <a href="{{ url_for('main_page') }}" style="text-decoration: none;"><li>ГЛАВНАЯ</li></a>
                    <a href="{{ url_for('get_products_breakfast') }}" style="text-decoration: none;"><li>МЕНЮ</li></a>
                    <a href="{{ url_for('info_page') }}" style="text-decoration: none;"><li>О КОМПАНИИ</li></a>
                    <a href="{{ url_for('review_page') }}" style="text-decoration: none;"><li>ОТЗЫВЫ</li></a>
                    <a href="{{ url_for('contacts_page') }}" style="text-decoration: none;"><li>КОНТАКТЫ</li></a>
                  </ul>
            </div>
        </div>
        <div id="block2">
            <a href="{{ url_for('deauth') }}" class="btn btn1">Выйти из уч.записи</a>
        </div>
    </header>
    <div id="bodyblock">
        <div class="container">
            <h2 class="title">
              <span class="title-word title-word-1">Welcome</span>
              <span class="title-word title-word-2">Today</span>
              <span class="title-word title-word-3">Coffee</span>
              <span class="title-word title-word-4">Page!</span>
            </h2>
          </div>
    </div>
</body>
</html>