<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CSS/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div id="TodayIcon1"></div>
        <div id="block1">
            <div id="blockinfo">
                <div class="blockinfo2left">
                    <a href="" class="bt1">
                        <p style="color: white; margin-left: 25px; margin-top: 20px;">ГЛАВНАЯ</p>
                    </a>
                </div>
                <div class="blockinfo2">
                    <a href="" class="bt1">
                        <p style="color: white; margin-left: 15px; margin-top: 20px;">ПРОДУКЦИЯ</p>
                    </a>
                </div>
                <div class="blockinfo2">
                    <a href="" class="bt1">
                        <p style="color: white; margin-left: 10px; margin-top: 20px;">О КОМПАНИИ</p>
                    </a>
                </div>
                <div class="blockinfo2">
                    <a href="" class="bt1">
                        <p style="color: white; margin-left: 35px; margin-top: 20px;">АКЦИИ</p>
                    </a>
                </div>
                <div class="blockinfo2right">
                    <a href="" class="bt1">
                        <p style="color: white; margin-left: 15px; margin-top: 20px;">КОНТАКТЫ</p>
                    </a>
                </div>
            </div>
        </div>
        <div id="block2">
            <div id="auth">
                <a href="#" class="button1">
                    <p class="txt2">Войти</p>
                </a>
            </div>
            <div id="registr">
                <a href="#" class="button1">
                    <p class="txt2">Зарегистрироваться</p>
                </a>
            </div>
        </div>
    </header>
    <div id="bodyblock">
        <div class="container">
            <h2 class="title">
              <span class="title-word title-word-1">Welcome</span>
              <span class="title-word title-word-2">Today</span>
              <span class="title-word title-word-3">Coffee</span>
              <span class="title-word title-word-4">Page!</span>
            </h2>
          </div>
    </div>
</body>
</html>