<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CSS/info.css">
    <title>Document</title>
</head>
<body>
    <div id="parrent">
        <div id="block1">
            <div style="width: 100%; height: 30%; align-self: center;">
            <h1 style="color: white; margin-left: 400px;">Today Coffee</h1>
            </div>
            <div style="width: 80%; height: 70%; align-self: center; border: 1px solid white;">
            <span style="color: white;">
                ПРИЕМ ЗАКАЗОВ: С 08:00 ДО 22:30 
                Доставка осуществляется в районы: Город: минимальный заказ - 1900 тг, доставка - 250 тг, БЕСПЛАТНО - от 5000 тг; 
                Михайловка: минимальный заказ - 1900 тг, доставка - 350 тг, БЕСПЛАТНО - от 6000 тг; 
                Юго-Восток, Федоровка: минимальный заказ - 1900 тг, доставка - 450 тг, БЕСПЛАТНО - от 7000 тг; 
                (Майкудук) до ТД Умай: минимальный заказ - 5000 тг, доставка - 1000 тг; 
                (Майкудук) до ДК: минимальный заказ - 7000 тг, доставка - 1500 тг; 
                (Майкудук) после ДК: минимальный заказ - 9000 тг, доставка - 2000 тг.
            </span>
        </div>
        </div>
        <div id="block2">
            <div id="block_left">
                <div class="block_in_block1">
                    <div class="block_img">
                        <div class="icon_info1"></div>
                    </div>

                    <div class="block_info">
                        <span style="color: white;">sfdsfsfdfs</span>
                    </div>

                </div>

                <div class="block_in_block1">
                    <div class="block_img">
                        <div class="icon_info1"></div>
                    </div>

                    <div class="block_info">
                        <span style="color: white;">sfdsfsfdfs</span>
                    </div>

                </div>

                <div class="block_in_block1">
                    <div class="block_img">
                        <div class="icon_info1"></div>
                    </div>

                    <div class="block_info">
                        <span style="color: white;">sfdsfsfdfs</span>
                    </div>

                </div>
            </div>

            <div id="block_right">
                <div class="block_in_block1">
                    <div class="block_img">
                        <div class="icon_info1"></div>
                    </div>

                    <div class="block_info">
                        <span style="color: white;">sfdsfsfdfs</span>
                    </div>

                </div>

                <div class="block_in_block1">
                    <div class="block_img">
                        <div class="icon_info1"></div>
                    </div>

                    <div class="block_info">
                        <span style="color: white;">sfdsfsfdfs</span>
                    </div>

                </div>

                <div class="block_in_block1">
                    <div class="block_img">
                        <div class="icon_info1"></div>
                    </div>

                    <div class="block_info">
                        <span style="color: white;">sfdsfsfdfs</span>
                    </div>

                </div>
            </div>
        </div>

        <div id="block3"></div>
    </div>
</body>
</html>