<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CSS/products.css">
    <title>Document</title>
</head>
<body>
    <form action="/products" method="post">
        <h1>Завтраки</h1>
        {% for i in range(19) %}
            <div class="card1">
                {% for p in products %}
                    <h1>{{ p.name[i] }}</h1>
                    <h3>{{ p.structure[i] }}</h3>
                    <h5>{{ p.price[i] }} ₸</h5>
                {% endfor %}
            </div>
        {% endfor %}
    </form>
</body>
</html>