<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/CSS/info.css">
    <title>Информация</title>
</head>
<body>
    <header>
        <div id="blockinfo">
            <ul class="menu-bar">
                <a href="{{ url_for('main_page') }}" style="text-decoration: none;"><li>ГЛАВНАЯ</li></a>
                <a href="{{ url_for('get_products_breakfast') }}" style="text-decoration: none;"><li>МЕНЮ</li></a>
                <a href="{{ url_for('info_page') }}" style="text-decoration: none;"><li>О КОМПАНИИ</li></a>
                <a href="{{ url_for('review_page') }}" style="text-decoration: none;"><li>ОТЗЫВЫ</li></a>
                <a href="{{ url_for('contacts_page') }}" style="text-decoration: none;"><li>КОНТАКТЫ</li></a>
            </ul>
        </div>
    </header>
    <div id="parrent">
        <div id="block1">
            <div id="blocktop">
                <h1 style="align-self: center;">География</h1>
                <h1 style="color: grey; align-self: center;">TodayCoffee</h1>
            </div>
            <div id="blockbottom">
                <div style="margin-top: 60px;">
                    <span style="align-self: center; color: red; font-size: 60px;">73</span><span style="align-self: center; font-size: 40px;"> Заведения</span>
                </div>
            </div>
        </div>
        <div id="block2">
            <div id="map"></div>
        </div>
    </div>

    <div id="parrent2">
        <!-- ------------------------------------------------------------------- -->
        <div class="set1">
            <div class="vid">
                <video width="100%" height="100%" autoplay="autoplay" muted loop>
                    <source src="/static/img/today_coffee_img/v1.mp4">
                </video>
            </div>
            <div class="image">
                <img src="/static/img/today_coffee_img/i3.jpeg" style="width: 80%; height: 100%; border-radius: 40px; margin-left: 50px;">
            </div>
            <div class="image2">
                <img src="/static/img/today_coffee_img/i4.jpeg" style="width: 60%; height: 100%; margin-left: 90px;">
            </div>
        </div>
        <!-- ------------------------------------------------------------------- -->
        <div class="set1">
            <div class="image">
                <img src="/static/img/today_coffee_img/i6.jpeg" style="width: 80%; height: 100%; border-radius: 40px; margin-left: 50px;">
            </div>
            <div class="image2">
                <img src="/static/img/today_coffee_img/i4.jpeg" style="width: 60%; height: 100%; margin-left: 90px;">
            </div>
            <div class="vid">
                <video width="100%" height="100%" autoplay="autoplay" muted loop>
                    <source src="/static/img/today_coffee_img/v2.mp4">
                </video>
            </div>
        </div>
        <!-- ------------------------------------------------------------------- -->
        <div class="set1">
            <div class="image">
                <img src="/static/img/today_coffee_img/i2.jpeg" style="width: 80%; height: 100%; border-radius: 40px; margin-left: 50px;">
            </div>
            <div class="vid">
                <video width="100%" height="100%" autoplay="autoplay" muted loop>
                    <source src="/static/img/today_coffee_img/v3.mp4">
                </video>
            </div>
            <div class="image2">
                <img src="/static/img/today_coffee_img/i5.jpeg" style="width: 60%; height: 100%; margin-left: 90px;">
            </div>
        </div>
        <!-- ------------------------------------------------------------------- -->
    </div>
</body>
</html>